

/* * {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

 Clearfix (clear floats) 
.row::after {
  content: "";
  clear: both;
  display: table;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.gridContainer > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */


.section {
  
  display: flex;
  flex-wrap: wrap;
}
/* .section::after {
  content: '';
  flex-grow: 999999999;
} */

.section,
.section:before,
.section:after {
  content: '';
  flex-grow: 999999999;
}

.div {
  display: flex;
  /* flex-wrap: wrap; */
  margin: 2px;
  /* background-color: violet; */
  position: relative;
}

.i{
  display: block;
}
.img {
  position: absolute;
  top: 0;
  width: 100%;
  vertical-align: bottom;
  border: solid;
  border-width: thick;
}



/* // BASIC */

/* .div
  display: flex;
  flex-wrap: wrap;
 */

/* .img
  height: 200px;
  flex-grow: 1;
  object-fit: cover;
  margin: 2px;
 */


/* .Ul {
  display: flex;
  flex-wrap: wrap;
}



.Li {
  height: 40vh;
  flex-grow: 1;
}

.Li:last-child {
   There's no science in using "10" here. In all my testing, this delivered the best results. 
  flex-grow: 10;
}

.Img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

 ADVANCED

 Portrait 

@media (max-aspect-ratio: 1/1) {
  .Li {
    height: 30vh;
  }
}

Short screens 

@media (max-height: 480px) {
  .Li {
    height: 80vh;
  }
}

Smaller screens in portrait 

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .Ul {
    flex-direction: row;
  }

  .Li {
    height: auto;
    width: 100%;
  }
  .Img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
} */



.modal-open {
    overflow: hidden;
  }
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
  }
  .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
         -o-transition:      -o-transform .3s ease-out;
            transition:         transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
         -o-transform: translate(0, -25%);
            transform: translate(0, -25%);
  }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }
  .modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  }
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
  }
  .modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
  }
  .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
  }
  .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
  }
  .modal-header .close {
    margin-top: -2px;
  }
  .modal-title {
    margin: 0;
    line-height: 1.42857143;
  }
  .modal-body {
    position: relative;
    padding: 15px;
  }
  .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
  }
  .modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
  }
  .modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
  }
  .modal-footer .btn-block + .btn-block {
    margin-left: 0;
  }
  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
  @media (min-width: 768px) {
    .modal-dialog {
      width: 600px;
      margin: 30px auto;
    }
    .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
              box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
    .modal-sm {
      width: 300px;
    }
  }
  @media (min-width: 992px) {
    .modal-lg {
      width: 900px;
    }
  }