.Toolbar {
    right: 0;
    top: 0;
    top: 70px;
    height:  calc(100vh - 90px);
    bottom: 100px;
    right: 10px;
    position: fixed;
    width: 17%;
    max-width: initial;
    padding-top: 32px;
    /* height: calc(110% - 32px);*/
 
    z-index: 200;
    background-color: rgb(54, 55, 64);
    padding: 32px 16px;
    transition: transform 0.3s ease-out;
    border-radius: 5px;
    overflow-y: auto; 
}


.separator {
    border-top: 1px solid #DDE2FF;
    margin-top: 14px;
    margin-bottom: 14px;
    opacity: 0.5;
}


.Toolbar nav {
    
    height: 100%;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(150%);
}
.Logo {
    height: 50px;
    width: 90px;
    direction: rtl;
}

@media (max-width: 999px) {
    .Toolbar {
        
        display: none;
        margin-top: 52;

    }
}





