.Toolbar {

    position: fixed;
    width: 17%;
    max-width: initial;
    padding-top: 32px;
    height: calc(110% - 32px);
    right: 0;
    top: 0;
    z-index: 200;
    background-color: rgb(54, 55, 64);
    padding: 32px 16px;
    transition: transform 0.3s ease-out;

}



.Toolbar nav {
    
    height: 100%;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(150%);
}
.Logo {
    height: 50px;
    width: 90px;
    direction: rtl;
}

@media (max-width: 999px) {
    .Toolbar {
        
        display: none;
        margin-top: 52;

    }
}

