.NavigationItem {
    margin: 0;
    display: flex;
    width: auto;
    align-items: center;
}

.Logo a{
    width: 16;
    height: 16;
    fill: none;
   
}

.NavigationItem a {

    color: white;
    text-decoration: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 11px 10px;
    border-bottom: 4px solid transparent;


}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #615D5B;
    background-color: rgba(221, 226, 255, 0.08);
    border-right: 3px solid white;
    /* DDE2FF */
    color: white ;

   
    
}


/* .Logo a:active{
    fill: #DDE2FF;
    opacity: 0.4;
} */

.icon {
    margin-left: 12px;
}

.icon a:hover,
.icon a:active,
.icon a.active {
    fill: #DDE2FF;
    opacity: 0.4;
}
