.SideDrawer {

    position: fixed;
    width: 255px;
    padding-top: 32px;
    height: calc(110% - 32px);
    width: 250px;
    max-width: 70%;
    right: 0;
    top: 0;
    z-index: 200;
    background-color: rgb(54, 55, 64);
    padding: 32px 16px;
    transition: transform 0.3s ease-out;
    overflow: scroll;

}


.separator {
    border-top: 1px solid #DDE2FF;
    margin-top: 14px;
    margin-bottom: 14px;
    opacity: 0.5;
}

@media (min-width: 999px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(150%);
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}