.Input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    position: center;
    margin: auto;
    display: inherit;
    
}


.Label {
    width: 80%;
    font-weight: 100;
    display: inline;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    direction: rtl;

}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}
.text {
    width: 20%;
    width: 100px;
    padding: inherit;
    text-align:inherit ;    
}
.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}