.Content {
    
    width: 82%;    
    flex-flow: column nowrap;
    display: flex;
    flex-grow: 1;
}

@media (max-width: 999px) {
    .Content {
        flex-flow: row;
        width: 100%;    
        flex-flow: column nowrap;
        display: flex;
        flex-grow: 1;
    }
}

